DATASOURCE_RESERVATION_JDBC_URL=jdbc:mysql://mysql:3306/fcfs_reservation?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DATASOURCE_RESERVATION_USERNAME=reservation
DATASOURCE_RESERVATION_PASSWORD=reservation
REDIS_RESERVATION_HOST=redis
REDIS_RESERVATION_PORT=6379
